<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <title><%= data.page.title || "Gmail Grid View" %></title>
        <%= stylesheet_link_tag "all" %>
        <%= javascript_include_tag  "plugins/modernizr","init" %>
    </head>
    <body class="<%= page_classes %>">
        <header class="header">
            <div class="wrap">
                <a class="logo-link" href="http://www.degdigital.com/" title="DEG" rel="home">
                    <img src="http://www.degdigital.com/wp-content/themes/degwp/images/logo.png" class="deg-logo" alt="DEG" width="102" />
                </a>
            </div>
        </header>
        <div class="main" ng-app  ng-controller="GmailGridView">
            <%= yield %>
        </div>

        <script src="https://apis.google.com/js/client:plusone.js?onload=onGooglePlusLoad"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js"></script>
        <%= javascript_include_tag  "all" %>
    </body>
</html>
